/*------------------------------------------------------------------

Project:	TOMAMI
Version:	1.0
Author:		DhrilMedia - (dhril.com)

-------------------------------------------------------------------*/

@import 'dm-classes.css';
@import 'animate.min.css';
@import 'magnific-popup.css';
@import 'flexslider-custom.css';
@import 'owl.carousel.css';
@import 'owl.theme.css';
@import 'icheck/all.css';